*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --secondy-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primery-white-color: #ffffff;
  --bgc-grey: rgba(245, 244, 250, 1);
  --fill-icon: rgba(175, 177, 184, 0.8);
  --mr: 30px;
  --mb: 30px;
}

a,
ul {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
body {
  background-color: var(--bgc-grey);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*========= Header =========*/

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--bgc-grey);
  background-color: var(--primery-white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 93px;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo:last-child {
  color: var(--title-text-color);
}

.menu {
  display: flex;
  margin-right: auto;
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu .item,
.contact .item {
  margin-right: 50px;
}

.menu > .item:last-child {
  margin-right: 0px;
}

.contact-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.link-nav::before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-right: 16px;
  background-image: url("./images/sprite.svg#icon-phone");
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact > .item:last-child {
  margin-right: 0px;
}

.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.secondy-text {
  color: var(--secondy-text-color);
}

/*========= END Header =========*/
/*========= Hero ========= */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("/images/hero.jpeg");
  background-color: rgba(47, 48, 58, 1);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  text-align: center;
}

.hero h1 {
  display: inline-block;

  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  min-width: 200px;
  min-height: 50px;
  padding: 5px 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /* text-align: center; */

  background-color: var(--accent-color);
  color: var(--primery-white-color);
  border: 0 transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero .button:hover {
  background-color: rgb(19, 129, 220);
}

/*========= END Hero ========= */
/*========= Action =========*/

.action {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primery-white-color);
}

.action-icons {
  display: flex;
}
.action-icons .item {
  display: inline-flex;

  padding: 25px 100px;
  margin-right: var(--mr);
  margin-bottom: var(--mb);
  width: 270px;
  height: 120px;

  fill: var(--title-text-color);
}

.action-icons .item:last-child {
  margin-right: 0;
}

.action-list {
  display: flex;
  justify-content: center;
}

.item-action {
  margin-right: var(--mr);
  width: 270px;
}

.item-action:last-child {
  margin-right: 0px;
}

.title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  margin-left: auto;

  color: var(--secondy-text-color);
  line-height: 1.71;
}

/*========= END Action =========*/
/* ========= Working =========*/

.working {
  padding-bottom: 94px;
  background-color: var(--primery-white-color);
}

.section-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.working-list {
  display: flex;
  justify-content: center;
}

.working-list .item {
  margin-right: var(--mr);
}

.working-list .item:last-child {
  margin-right: 0;
}

/* ========= END Working =========*/
/*=========  Team ========= */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-photo {
  width: 270px;
  height: 260px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 15px;
}

.team-list .item {
  margin-right: var(--mr);
  width: 270px;
  height: 428px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primery-white-color);
}

.team-list .item:last-child {
  margin-right: 0;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-skills {
  color: var(--secondy-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-icon {
  display: inline-flex;

  width: 44px;
  height: 44px;
  padding: 12px;
  margin-right: 10px;

  fill: var(--fill-icon);
  /* outline: 1px solid gray; */
}
.team-icons .team-icon:last-child {
  margin-right: 0;
}

.team-icons .team-icon:hover {
  fill: var(--primery-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}
/*========= END Team ========= */
/* ========= Customer ========= */

.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  justify-content: center;
}

.customer-list .item {
  display: flex;
  align-items: center;

  border: 1px solid var(--fill-icon);
  border-radius: 4px;

  /* padding: 23px 65px; */
  margin-right: var(--mr);
  margin-bottom: var(--mb);
  width: 170px;
  height: 92px;

  fill: var(--fill-icon);
}

.customer-list .item:last-child {
  margin-right: 0;
}

.customer-list .item:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* ========= END Customer ========= */
/*========== Footer =========*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.footer a .logo:last-child {
  color: var(--primery-white-color);
  margin-right: 0;
}

.address {
  margin-top: 20px;
}

.link-logo {
  display: inline-block;
}

.footer-contact {
  display: inline-block;
  font-style: normal;
}

.footer-contact .item {
  margin-bottom: 10px;
}

.text-white {
  color: var(--primery-white-color);
}

.footer-contact > .item:last-child {
  margin-bottom: 0px;
}

.sotial {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.sotial-icons {
  display: flex;
  justify-content: center;
}

.sotial-link {
  fill: var(--primery-white-color);

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.sotial-link:hover {
  fill: var(--primery-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}

/*========= END Footer =========*/
/* ======== PORTFOLIO =========*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primery-white-color);
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item {
  margin-right: 8px;
}

.filters .item:last-child {
  margin-right: 0px;
}

.filter {
  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.filter:hover,
.filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

/* ========= PROJECTS =========*/

.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primery-white-color);
}

.projects > .item {
  width: 370px;
  height: 404px;
  margin-right: var(--mr);
  margin-bottom: var(--mb);
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-footer {
  padding: 20px 24px;
  background: var(--primery-white-color);
  border: 1px solid var(--bgc-grey);
  border-top: 0;
  box-sizing: border-box;
}

.project-name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--secondy-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* ======== END PORTFOLIO =========*/
